<div class="row justify-content-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div *ngIf="track">
          <h1 class = "text-success display-3">{{ track.name }}</h1>
          <p>
              <img src="{{ track.album.images[1].url}}" height="100%" width="100%">
          </p>
          <div>
              <audio controls src="{{ track.preview_url }}"></audio>
          </div>
          <a class = "btn btn-primary" href (click)="back()">Back</a>
          <a class = "btn btn-success" href ="{{track.external_urls.spotify}}">Go to spotify</a>
      </div>
    </div>
  </div>
</div>
